/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 40px 20px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.navbar li {
  margin: 0 15px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}

.navbar .active {
  border-bottom: 2px solid #000;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-box {
  margin: 12px;
  /*height: 200px;
  width: 200px;*/
  border-radius: 8px;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: transform 0.2s;
}

.image-box:hover img {
  transform: scale(1.05);
}

.video-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-box {
  margin: 12px;
  height: 200px;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
}

.video-box video {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: transform 0.2s;
}

.video-box:hover video {
  transform: scale(1.05);
}

.video-box h6 {
  text-align: center;
  font-weight: 400;
  color: #555;
  margin-top: 10px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f3f3;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #555;
}

.invitation-container {
  background-color: #fce4ec;
  padding: 40px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  color: #d81b60;
  margin-bottom: 20px;
}

.invitation-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #333;
}

.highlight {
  font-weight: bold;
  color: #d81b60;
}

.footer {
  font-size: 20px;
  font-weight: bold;
  color: #d81b60;
}

.decorative {
  font-size: 28px;
  color: #f48fb1;
}

.time-location {
  font-size: 18px;
  margin: 10px 0;
}
